<h1>Contact Page</h1>

<form class="form-horizontal">
  {{input type="email" value=emailAddress class="form-control" placeholder="Email address: " autofocus="autofocus"}}
  <br>
  {{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}
  <br>
	<button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action "sendMessage"}}>Send Message</button>
	<br>
	{{#if responseMessage}}
  	<div class="alert alert-success">
  		{{responseMessage}}
  	</div>
  {{/if}}
</form>